$lt-font: 'HelveticaNeueLTCom-Lt', sans-serif;
$md-font: 'HelveticaNeueLTCom-Md', sans-serif;
$th-font: 'HelveticaNeueLTCom-Th', sans-serif;
$rm-font: 'HelveticaNeueLTCom-Rm', sans-serif;
$bd-font: 'HelveticaNeueLTCom-Bd', sans-serif;

$brand-blue-dark: #424d5d;
$brand-green: #829957;
$brand-blue: #6394cd;

$icons-dir: '../images/icons';